.logo {
    height: 80px;
    background-color: aliceblue;
    width: 80px;
    border-radius: 50%;
    background-image: url('../asset/logo.png');
    background-size: cover;
    background-position: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
}